@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.resume {
    background-color: #1f1f20;
    height: 250px;
    padding: 50px 0 80px 0;
    .container {
        @include container();
        @include flex(column, flex-start, center, nowrap);
    }
}