@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

$background: #252827;


$color-light: white;
$color-dim: #6c6d6d;
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

.resume {
    background-color: $bgColor;
    padding: 50px 0 80px 0;
    .container {
        @include container();
        @include flex(column, flex-start, center, nowrap);
            .timeline {
                border-left: 4px solid $primaryColor;
                background: $bgSecondColor;
                position: relative;
                padding: 50px;
                list-style: none;
                text-align: left;
                max-width: 500px;
                margin: 50px 0;
                h3 {
                    @include text($titleFontFamily, 18px, 700);
                    letter-spacing: 2px;
                }
                p {
                    @include text($textFontFamily, 14px, 500);
                    margin: 5px 0;
                }
                span {
                    @include text($textFontFamily, 12px, 300);
                    line-height: 1.5;
                }
                .event {
                    padding-bottom: 30px;
                    position: relative;

                    &:last-of-type {
                        padding-bottom: 0;
                        margin-bottom: 0;
                        border: none;
                    }

                    &:before, &:after {
                        position: absolute;
                        display: block;
                        top: 0;
                    }

                    &:before {
                        left: -100px;
                        content: attr(data-date);
                        text-align: right;
                        opacity: 0.6;
                        @include text($titleFontFamily, 14px, 500);
                        @media screen and (max-width: 622px) {
                            opacity: 0;
                        }
                    }

                    &:after {
                        left: ($spacing + $line + ($dot * 0.35)) * -1;
                        background: $primaryColor;
                        border-radius: 50%;
                        height: 11px;
                        width: 11px;
                        content: "";
                        top: 5px;
                    }
                }
            }
        //}
    }
}