@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.nav {
    @include flex(row, space-between, center, nowrap);
    cursor: pointer;
    a {
        text-decoration: none;
        @include text($titleFontFamily, 16px, 700);
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0 20px;
        &:hover {
            text-decoration: none;
            color: $primaryColor;
            transition: .1s;
        }
    }
    @media screen and (max-width: 493px) {
        display: none;
    }
}