.title {
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.title h2 {
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    letter-spacing: 5px;
}
.title::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 1px;
    background: #4e93e6;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}