@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.title {
    margin-bottom: 30px;
    @include text($titleFontFamily, 26px, 700);
    letter-spacing: 3px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 55px;
        height: 1px;
        background: $primaryColor;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}
