@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footer {
    background-color: $bgSecondColor;
    @include flex(row, center, stretch, nowrap);
    padding: 50px 0 20px 0;
    .container {
        @include container();
        @include flex(column, flex-start, center, nowrap);
        .socialIcons{
            @include flex(row, space-between, center, nowrap);
            margin-top: 40px;
            width: 400px;
            @media screen and (max-width: 505px) {
                width: 100%;
            }
            .socialIcon{
                height: 60px;
                width: 60px;
                border-radius: 50%;
                opacity: 0.5;

                &:hover {

                    cursor: pointer;
                    border: 1px solid $textColor;
                    background-color: $textColor;
                    opacity: 0.7;
                    transition: all 0.3s ease-in-out 0s;
                }
                @media screen and (max-width: 380px) {
                    width: 50px;
                    height: 50px;
                }
                a {
                    width: 100%;
                    height: 100%;
                    @include flex(row, center, center, nowrap);
                    img {
                        width: 100%;
                    }
                }
            }
        };
        .copyright {
            margin-top: 40px;
            @include text($textFontFamily, 12px, 300);
            opacity: 0.7;
        }
    }
}

