@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footer {
    background-color: $bgSecondColor;
    padding: 50px 0 40px 0;
    .container {
        @include container();
        @include flex(column, flex-start, center, nowrap);
        .socialContainer{
            width: 280px;
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            .social{
                height: 60px;
                width: 60px;
                background-color: gray;
            }
        };
        .copyright {
            margin-top: 40px;
            @include text($textFontFamily, 14px, 300)
            opacity: 0.6;
        }
    }
}

