@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.projects {
    background-color: $bgSecondColor;
    padding: 50px 0 80px 0;
    .container {
        @include container();
        @include flex(column, flex-start, center, nowrap);
        .projects {
            width: 100%;
            @include flex(row, space-between, flex-start, wrap);
            margin-top: 40px;
            @media screen and (max-width: 879px) {
                justify-content: center;
            }
        }
    }
}