@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.skillsBlock {
    background-color: $bgSecondColor;
    .skillsContainer {
        @include flex(column, flex-start, center, nowrap);
        .skills {
            width: 100%;
            @include flex(row, space-between, flex-start, wrap);
            margin-top: 40px;
        }
    }
}
