@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.burger {
    cursor: pointer;
    width: 100%;
    height: 100%;
    .burgerItems {
        @include flex(column, space-between, center, nowrap);
        position: absolute;
        right: 0;
        left: 0;
        height: 150px;
        @include flex(column, space-between, center, nowrap);
        background-color: $bgSecondColor;
        padding: 20px;
        transform: translate(0, -150px);
        transition: 0.4s;
        a {
            text-decoration: none;
            @include text($titleFontFamily, 16px, 700);
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 0 20px;
            &:hover {
                text-decoration: none;
                color: $primaryColor;
                transition: .1s;
            }
        }
    }
    .show {
        transform: translate(0, 0);
    }
    .burgerBtn {
        width: 30px;
        height: 30px;
        background-color: $primaryColor;
        position: absolute;
        top: 24px;
        right: 20px;
    }
    @media screen and (min-width: 493px) {
        display: none;
    }
}