@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.skill {
    width: 150px;
    @include flex(column, center, center, wrap);
    padding: 0 20px 0 20px;
    .icon {
        height: 60px;
        width: 60px;
        background-color: gray;
    }
    .title {
        margin-top: 10px;
        @include text($titleFontFamily, 16px, 500)
    }
}
