@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
    width: 350px;
    background-color: $bgColor;
    @include flex(column, center, center, nowrap);
    .imgContainer {
        width: 100%;
        height: 200px;
        @include flex(column, center, center, nowrap);
        @include bgSettings();
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }
        .button {
            @include text($textFontFamily, 14px, 400);
            text-decoration: none;
            user-select: none;
            background: #605e5e;
            padding: 10px 25px;
            position: relative;
            z-index: 1;
            border-radius: 3px;
            &:hover {
                background: #706d6d;
            }
            &:active {
                background: #4a4a4a;
            }
        }
    }
    .projectInfo {
        padding: 15px;
        .projectTitle {
            @include text($titleFontFamily, 16px, 600);
            margin: 0 0 5px;
        }
        .projectDescription {
            @include text($textFontFamily, 12px, 300);
            line-height: 1.5;
        }
    }
}