.project {
    width: 400px;
    background-color: #64807a;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*text-align: center;*/
}
.projectLogo {
    height: 200px;
    width: 400px;
    background-color: #ef8080;
}
.title {
    margin: 5px 5px 0px 5px;
    background-color: #ffc47b;
}
.description {
    margin: 5px;
    background-color: #ffc47b;
}