@import "../common/styles/sass/variables";

.nav {
    display: flex;
    justify-content: space-between;
    a {
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        color: $textColor;
        font-weight: 500;
        font-size: 15px;
        margin: 0 20px;
    }
}