.projectsBlock {
    height: 100vh;
    background-color: #5f5f2f;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #ffc47b;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}