.projectsBlock {
    /*height: 100vh;*/
    background-color: #1f1f20;
    padding: 100px 0;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #ffc47b;
}
.title h2 {

}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 879px) {
    .projects {
        justify-content: center;
    }
}